@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,800&display=swap');
body {
    margin: 0px;
    font-family: 'Roboto';
}
p {
    margin: 0px;
}
.header {
    height: 16.6vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    background-color: #1c1c1c;
    align-items: center;
    justify-content: center;
}
.body {
    height: 66.8vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    background-image: url(https://yuompioka.ml/static/images/background.png);
    background-size: cover;
    background-position-x: center;
}
.login-form {
    height: 16.6vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    background-color: #1c1c1c;
    z-index: 2;
    position: relative;
}
.section {
    width: 25%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.section.buttons {
    display: flex;
    flex-direction: row;
    justify-content: end;
    width: 22.5%;
    gap: 10px;
}
.section.launch {
    width: 28.5%;
}
.buttons-container {
    height: 100%;
    width: 15%;
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-flow: column;
    justify-content: center;
    gap: 10px;
}
.iframe-container {
    height: 100%;
    width: 50vw;
}
.workstation {
    height: 100%;
    width: 50vw;
    display: flex;
    flex-direction: column;
}
.cards {
    height: 50%;
    width: 100%;
}
.console {
    height: 50%;
    width: 100%;
    text-align: center;
    transition: all 250ms cubic-bezier(0.075, 0.82, 0.165, 1);
    transform: translateY(30vh);
    z-index: 1;
    position: relative;
    opacity: 0.2;
    margin-right: 15px;
}
.console:hover {
    transform: translateY(5vh);
    background: rgba(0, 0, 0, 0.473);
    border-radius: 15px;
    opacity: 1;
}
#mod_Malilib {
    display: none;
}
#expand-button {
    transform: rotate(90deg);
    transition: all 500ms cubic-bezier(0.075, 0.82, 0.165, 1);
}
#expand-button.active {
    transform: rotate(270deg);
}
.mods-button-container {
    height: 100%;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mods-options-container {
    height: 100%;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.mods-container {
    height: 0px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    z-index: 99;
    display: flex;
    justify-content: center;
}
.mods {
    margin-top: 20vh;
    height: 60vh;
    width: 300px;
    transform: translateX(615px);
    transition: all 500ms
    cubic-bezier(.05,.53,.47,1.09);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.mods.active {
    transform: translateX(345px);
}
.mod-option {
    background-color: #ffffff8a;
    padding: 5px;
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    width: 95%;
    transition: all 200ms ease;
    opacity: 0.5;
}
.mod-option:hover {
    border-radius: 10px;
    opacity: 1;
}
.mod-info {
    width: 80%;
}
.settings {
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    height: 100px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}
.skin-changer {
    width: 10px;
    height: 100%;
}
.skincard {
    height: 100%;
    width: 300px;
    transition: all 800ms cubic-bezier(.05,.53,.47,1.09);
    z-index: 10;
    position: relative;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateX(-249px);
}
.skin-iframe-container {
    display: flex;
    align-items: center;
}
.skincard.active {
    opacity: 1;
    position: relative;
    transform: translateX(0px);
}
.skin_viewer {
    height: 300px;
    width: 225px;
    margin: 0px;
    margin-top: 8px;
    margin-left: auto;
    margin-right: auto;
}
iframe {
    font-family: "Helvetica Neue", Roboto, "Segoe UI", Calibri, sans-serif;
    font-size: 12px;
    font-weight: bold;
    line-height: 16px;
    border-color: #eee #ddd #bbb;
    border-radius: 20px;
    border: none;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
    margin-top: auto;
    margin-bottom: auto;
    height: 380px;
    transition: all 100ms ease-out;
}
#skin-button {
    margin-left: 7px;
    width: 30px;
    opacity: 0.8;
}
#skin-button:hover {
    opacity: 1;
}
.rotate-icon {
    transition: all 500ms ease-in;
}
.skincard.active .rotate-icon {
    transform: rotate(180deg);
}
.pushable-small:hover .front img {
    animation: bounceIn 1s;
}
.launch-button-class {
    width: 100%;
    height: 85%;
    display: grid;
    margin: 10px;
}
@keyframes loading {
    from {
        background-position-x: 100%;
    }
    50% {
        background-position-x: 50%;
      }
    to {
        background-position-x: 0%;
    }
}
#download-process-bar {
    width: 0%;
    height: 100%;
    background: linear-gradient(90deg, rgba(9,121,18,1) 233.5px, rgba(27,241,37,1) 333.5px, rgba(9,121,18,1) 433.5px);
    background-size: 400% 400%;
    opacity: 0.7;
    transition: all 250ms cubic-bezier(0.075, 0.82, 0.165, 1);
    animation: loading infinite 2.5s;
    animation-timing-function: cubic-bezier(.17,.67,.83,.67);
}
#launch-button, #download-process-bar {
    grid-area: 1 / 1;
}
.pushable.inactive {
    box-shadow: inset 0 10px #9d9d9d, inset 0 -10px #464646, 0 4px rgb(0 0 0 / 0%);
    background: #606060;
}
.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 25px;
}
.switch input {
    width: 0;
    height: 0;
    opacity: 0;
}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #fff;
    transition: 0.4s;
    border-radius: 17px;
}
.slider:before {
    content: "";
    position: absolute;
    height: 20px;
    width: 20px;
    background:#c7c7c7e8;
    left: 3px;
    bottom: 2.5px;
    border-radius: 50%;
    transition: 0.3s cubic-bezier(0.42, 0, 0, 1.68);
}
input:checked + .slider {
    background-color: #41c457;
}
input:checked + .slider:before {
    transform: translateX(22.5px);
    background:white;
}
.slider-color::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 12px;
    height: 30px;
    cursor: pointer;
    transition: all 250ms ease;
    margin-bottom: 2px;
    margin-left: 1px;
    box-shadow: inset 0 10px #c4c4c4,inset 0 0px #4b4b4b,0 4px rgba(0, 0, 0, 0);
    background: #808080;
}

.slider-color::-webkit-slider-thumb:hover {
    box-shadow: inset 0 0px #c4c4c4,inset 0 -8px #4b4b4b,0 4px rgba(0, 0, 0, 0);
}

.slider-color {
    -webkit-appearance: none;
    height: 5px;
    transition: transform 250ms;
}
  
.slidecontainer {
    transition: opacity 250ms;
    width: 50vw;
}
  
.slidecontainer:hover {
    opacity: 1;
}
input[type="range"] {
    width: 80%;
    font-size: 18px;
    border: 1px solid #00000000;
    background: #cfcfcf80;
    transition: all 250ms ease-in;
    height: 6px;
}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #fff;
    transition: 0.4s;
    border-radius: 17px;
}
.twelvepx {
    font-size: 18px;
    text-align: center;
    color: white;
}
#debug_text {
    font-size: 12px;
    text-align: center;
    color: white;
    width: 80%;
    margin-right: 30px;
}
#debug_text2 {
    font-size: 12px;
    text-align: center;
    opacity: 60%;
}
#version2 {
    font-size: 10px;
    color: white;
    text-align: center;
    margin-top: 10px;
    margin-right: 30px;
}
#version3 {
    font-size: 10px;
    opacity: 60%;
    text-align: center;
}
.pushable {
    box-shadow: inset 0 10px #2c9935,inset 0 -10px #1c5e21,0 4px rgba(0, 0, 0, 0);
    background: #217128;
    width: 100%;
    height: 100%;
    border: none;
    transition: all .25s,opacity .75s .5s;
}
.pushable-small {
    box-shadow: inset 0 4px #c4c4c486,inset 0 -4px #64646481,0 4px rgba(0, 0, 0, 0);
    background: #858585;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#front p {
    font-family: 'Roboto Flex';
    font-size: 25px;
    text-shadow: 0px 2px 3px #4a4a4a;
    color: white;
    position: relative;
    z-index: 10;
}
#front p#version {
    font-family: 'Roboto';
    font-size: 10px;
    text-shadow: none;
}
.pushable:hover {
    color: #fff;
    -webkit-transition: all .25s,opacity .75s .5s;
    -o-transition: all .25s,opacity .75s .5s;
    transition: all .25s,opacity .75s .5s;
    background: #171615;
    background-image: -o-linear-gradient(#3d3938,#171615);
    background-image: linear-gradient(#3d3938,#171615);
    text-shadow: 0 1px 0 #000;
    text-decoration: none;
    border: none;
    -webkit-box-shadow: inset 0 0 #fff,inset 0 0 #000;
    box-shadow: inset 0 0 #fff,inset 0 0 #000;
}
.pushable .front p {
    transition: all 250ms ease;
    will-change: auto;
}
.pushable:hover .front p {
    transform: scale(1.1);
}
#remember-button {
    background: #720000;
    box-shadow: inset 0 4px #bf4a4a, inset 0 -4px #520707, 0 4px rgb(0 0 0 / 0%);
    transition: all 350ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

#remember-button:hover {
    transform: scale(1.3);
}

#remember-button.active {
    background: #217128;
    box-shadow: inset 0 5px #2c9935,inset 0 -5px #1c5e21,0 4px rgba(0, 0, 0, 0);
}
input[type="text"], input[type="password"] {
    width: 180px;
    height: 25px;
    font-size: 18px;
    border: 1px solid #00000000;
    border-radius: 5px;
    transition: all 350ms cubic-bezier(0.075, 0.82, 0.165, 1);
    font-family: 'Roboto';
    text-align: left;
    padding-left: 10px;
    box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.35);
}
input[type="password"] {
    font-family: 'Roboto Flex';
    padding-top: 1px;
}
  
input[type="text"]:focus, input[type="password"]:focus {
    outline: none;
    border: 1px solid #444444;
}
.white-text {
    color: white;
    margin-bottom: 5px;
    font-size: 18px;
    text-shadow: -2.5px 0 #3e3e3e;
    transform: translateY(20px);
    transition: all 350ms cubic-bezier(0.075, 0.82, 0.165, 1);
    opacity: 0;
    text-align: left;
}
.input-animated {
    margin-bottom: 24px;
}
.input-animated:hover .white-text {
    opacity: 1;
    transform: translateY(0px);
}
#console_log {
    text-align: left;
    font-family: 'Roboto';
    font-size: 12px;
    color: white;
    width: 100%;
    height: 100%;
    overflow-y: visible;
    overflow-x: hidden;
}